/*반응형 태블릿*/
@media screen and (max-width: 1440px) and (min-width: 1025px) {
	.inner_box {
		width: 100%;
		margin: 0 auto;
	}
	header div.header_wrap h1.logo {
		width: 62%;
	}
	header div.header_wrap div.user_menu {
		width: 35%;
		height: 30px;
		position: absolute;
		top: 3em;
		right: 0;
		padding-top: 0;
		display: block;
		z-index: 12;
		padding-left: 0;
		box-sizing: border-box;
	}
	header div.header_wrap div.user_menu ul.user_joinus {
		position: absolute;
	    width: 32%;
	    height: 2em;
	    float: none;
	    padding-top: 0;
	    padding-left: 0;
	    box-sizing: border-box;
		top: 0;
		right: 13rem;
	}
	header div.header_wrap div.user_menu div.aside_set {
		width: 48%;
		height: 2em;
		float: none;
		padding: 0 0 0 0;
		padding-top: 0;
		text-align: right;
		position: absolute;
		top: 0;
		right: 2rem;
	}
	header div.header_wrap div.user_srch {
		width: 30%;
		height: 55px;
		float: right;
		text-align: right;
		margin-right: 2em;
		margin-top: 4em;
	}
}

@media screen and (max-width: 1024px) and (min-width: 769px) {
	/*basic 영역*/
	.inner_box {
		width: 100%;
		margin: 0 auto;
	}
	.forTb {display: block;}
	.offTbnav {display: none;}

	header {
		width: 100%;
		background-color: rgba(10, 10, 10, 0.75);
		/* overflow: hidden; */
	}
	header div.header_wrap {
		height: 120px;
	}
	header div.header_wrap h1.logo {
		width: 50%;
		background-size: 200px;
		margin: 25px 0 0 40px;
		box-sizing: border-box;
	}
	header div.header_wrap h1.logo span {
		display: block;
		padding-top: 55px;
		padding-left: 5px;
		text-align: left;
		font-size: .5em;
	}
	header div.header_wrap div.user_menu {
		width: 300px;
		padding-top: 33px;
		position: relative;
	}
	header div.header_wrap div.user_menu ul.user_joinus {
		position: absolute;
	    width: 32%;
	    height: 2em;
	    float: none;
	    padding-top: 0;
	    padding-left: 0;
	    box-sizing: border-box;
		top: 150px;
		right: 22em;
		z-index: 12;
	}
	header div.header_wrap div.user_menu ul.user_joinus li.aft_bar:after {
		color: #333;
	}
	header div.header_wrap div.user_menu ul.user_joinus a {
		color: #333;
	}
	header div.header_wrap div.user_menu div.aside_set {
		width: 80%;
		height: 80px;
		padding: 0;
		position: absolute;
		top: 150px;
		right: 5rem;
		z-index: 12;
		float: left;
	}
	header div.header_wrap div.user_menu div.aside_set ul.user_mypage {
		height: 50px;
		float: right;
		/* margin-right:80px; */
	}
	header div.header_wrap div.user_menu div.aside_set ul.user_mypage li a{
		color: #333;
	}
	header div.header_wrap div.user_srch {
		position: absolute;
		top: 124px;
		right: 10px;
	}
	header div.header_wrap div.user_srch input#search {
		border: none;
	}
	header div.header_wrap div.user_srch.onTbnav {
		position: absolute;
		top: 142px;
		right: 190px;
		z-index: 12;
	}
	header div.header_wrap div.user_srch.onTbnav input#search {
		width: 80%;
		border-radius: 0;
		height: 40px;
		font-size: 12px;
		background-position: 2px center;
		border: none;
	}
	.mb_nav_btn{
		display: block;
		position: absolute;
		top: 72px;
		right: 25px;
		z-index: 10;
	}
	div.closepop {
		display: block;
		width: 24px;
		height: 24px;
		position: absolute;
		top: 148px;
		right: 30px;
		z-index: 12;
	}
	p.close {width: 100%;}
	p.close img {width: 100%;}
	div.closepop.offTbnav {
		display: none;
	}

	/*네비게이션*/
	nav.pc_nav ul.main_menu > li.menu_more {
		display: none;
	}
	nav.tb_nav {
		display: block;
		width: 540px;
		height: 520px;
		background-color: #8ed3c7;
		position: absolute;
		top: 120px;
		right: 0;
		z-index: 10;
		box-sizing: border-box;
		padding-top: 10px;
	}
	nav.tb_nav ul.main_menu {
		width: 520px;
		height: 500px;
		padding-top: 60px;
		background-color: #fff;
		display: block;
		box-sizing: border-box;
	}
	nav.tb_nav ul.main_menu>li {
		width: 100%;
		box-sizing: border-box;
		position: relative;
	}
	nav.tb_nav ul.main_menu>li>a{
		display: inline-block;
		text-align: left;
		width: 120px;
		height: 75px;
		padding-left: 10px;
		font-size: 14px;
		font-weight: bold;
		color: #333;
		line-height: 75px;
		border-bottom: 1px dashed #666;
	}
	nav.tb_nav ul.main_menu li.menu_fir a{
		width: 100%;
		border-top: 1px solid #666;
	}
	nav.tb_nav ul.main_menu li.menu_more a{
		float: left;
	}
	nav.tb_nav ul.main_menu li.menu_more ul.sub_depth2_wrap {
		width: 380px;
		height: 75px;
		float: right;
		display: flex;
		padding-left: 10px;
		padding-right: 10px;
		border-bottom: 1px dashed #666;
	}
	nav.tb_nav ul.main_menu li.menu_more:nth-child(6) a,
	nav.tb_nav ul.main_menu li.menu_more:nth-child(6) ul.sub_depth2_wrap{
		border-bottom: none;
	}
	nav.tb_nav ul.main_menu li.menu_more ul.sub_depth2_wrap li a {
		display: block;
		font-size: 14px;
		color: #333;
		line-height: 75px;
		margin-right: 17px;
	}
	nav.tb_nav ul.main_menu li.menu_more ul.sub_depth2_wrap li a:hover {
		text-decoration: underline;
	}
	nav.tb_nav.offTbnav {
		display: none;
	}

	/*섹션별 타이틀 라인 없애기*/
	div.title div.tit_left {
		width: 100%;
		text-align: left;
		padding-left: 30px;
	}
	div.title div.tit_left p.sub_tit {
		font-size: 18px;
		padding: 7px 0;
	}
	div.title div.tit_left h2.main_tit {
		font-size: 24px;
		font-weight: bolder;
	}
	div.title div.tit_right {display: none;}

	section#sec01 div.title div.tit_left,
	section#sec02 div.title div.tit_left,
	section#sec03 div.title div.tit_left,
	section#sec04 div.title div.tit_left,
	section#sec05 div.title div.tit_left {width: 100%;}


	section#sec01 {height: 680px;}
	section#sec01 div.content {
		display: flex;
		flex-flow: row;
		justify-content: center;
	}
	section#sec01 div.content article.sec01_already {
		width: 32%;
		height: 420px;
		margin-right: 2%;
	}
	section#sec01 div.content article.sec01_already:nth-child(3) {
		margin-right: 0;
	}
	section#sec01 div.content article.sec01_already p.circle_img {
		top: 20px;
		margin-top: 0;
		left: 50%;
		margin-left: -90px;
	}
	section#sec01 div.content article.sec01_already h3 {padding-top: 210px;}
	section#sec01 div.content article.sec01_already span.move_to:hover {
		width: 180px;
		right: 20px;
		background-position: 160px center;
	}


	section#sec02 div.cmr_li ul.camera_list li {
		float: left;
		margin-left: 0;
	}
	section#sec02 div.cmr_li ul.camera_list li:nth-child(1) {
		width: 49%;
		height: 30em;
		margin-right: 1%;
	}
	section#sec02 div.cmr_li ul.camera_list li:nth-child(2),
	section#sec02 div.cmr_li ul.camera_list li:nth-child(4) {
		width: 24.5%;
		height: 15em;
		margin-right: 1%;
	}
	section#sec02 div.cmr_li ul.camera_list li:nth-child(3),
	section#sec02 div.cmr_li ul.camera_list li:nth-child(5) {
		width: 24.5%;
		height: 15em;
	}
	section#sec02 div.cmr_li ul.camera_list li a {
		width: 100%;
		height: 13em;
	}
	section#sec02 div.cmr_li ul.camera_list li a span {
		bottom: 4px;
	}


	section#sec03 div.list_frame {
		width: 100%;
		height: 500px;
		overflow: hidden;
	}
	section#sec03 div.list_frame div.film_list_bg {
		width: 300%;
		height: 380px;
	}
	section#sec03 div.list_frame div.film_list_bg ul.film_list li {
		width: 16.6667%;
		height: 420px;
	}
	div.more p.more_con{
		margin-right: 20px;
	}


	section#sec04 div.prdt_wrap ul.prdt_list {height: 500px;}
	div.prdt_wrap ul.prdt_list li.prdt_cont {height: 250px;}
	li.prdt_cont div.prdt_bg img.product {right: 10px;}
	li.prdt_cont div.prdt_bg img.product.pouch {
		width: 300px;
		bottom: 50px;
	}
	li.prdt_cont div.prdt_bg p.prdt_sub_tit {
		top: -20px;
		left: 18px;
		font-size: .8em;
	}
	li.prdt_cont div.prdt_bg h4.prdt_main_tit {
		font-size: 1.3em;
		top: 2px;
		left: 15px;
	}
	li.prdt_cont div.prdt_bg img.product.pouch {
		width: 260px;
		bottom: 35px;
		/*bottom: 30px;*/
	}

	li.prdt_cont div.prdt_bg img.product.tripod01 {
		width: 180px;
		bottom: 20px;
	}
	li.prdt_cont div.prdt_bg img.product.tripod02 {
		width: 130px;
		bottom: 10px;
		right: 150px;
	}
	li.prdt_cont div.prdt_bg img.product.filmcase {
		width: 140px;
		bottom: 20px;
	}
	li.prdt_cont div.prdt_bg img.product.strap {
		width: 154px;
		bottom: 20px;
		right: -10px;
	}
	li.prdt_cont div.prdt_bg img.product.clearing {
		width: 145px;
		bottom: 5px;
		/*bottom: 3px;*/
	}

	section#sec05 div.service_list {
		height: 300px;
	}
	section#sec05 div.service_list ul {
		display: flex;
		flex-flow: row;
	}
	section#sec05 div.service_list ul li.serv_list {
		width: 25%;
		height: 240px;
	}
	section#sec05 div.service_list ul li.serv_list.aft_blank {
		margin-right: 0;
	}
	div.service_list ul li.serv_list div.serv_cont_wrap {
		position: static;
		width: 100%;
		height: 100%;
		border: none;
	}
	li.serv_list div.serv_cont_wrap p.serv_sub_tit {
		width: 100%;
		text-align: center;
		z-index: 10;
		top: 75px;
		left: 0;
	}
	li.serv_list div.serv_cont_wrap h4.serv_main_tit {
		width: 100%;
		text-align: center;
		font-size: 24px;
		color: #000;
		z-index: 10;
		top: 105px;
		left: 0;
	}
	li.serv_list div.serv_cont_wrap span.serv_img {
		width: 100%;
		height: 100%;
		opacity: .5;
	}
	li.serv_list div.serv_cont_wrap span.serv_img:hover {
		opacity: .8;
	}
	li.serv_list div.serv_cont_wrap span.shortcut {
		right: 10px;
		display: none;
	}


	section#sec06 {
		margin-top: 100px;
	}
	section#sec06 article.play35 {
		background-color: transparent;
	}
	section#sec06 article.play35 h2.main_tit {
		float: none;
		width: 100%;
		padding-top: 0;
		text-align: left;
		padding-left: 20px;
		margin-bottom: 30px;
	}
	section#sec06 article.play35 ul.play_wrap {
		width: 100%;
		height: 26em;
		background-color: #E7F1EF;
		display: flex;
		justify-content: space-between;
		padding: 3em 2%;
	}
	article.play35 ul.play_wrap li.ch_list {
		width: 32%;
		height: 20em;
	}
	article.play35 ul.play_wrap li.ch_list.aft_blank {
		margin-right: 20px;
	}
	article.play35 ul.play_wrap li.ch_list div.ch_cont_list {
		width: 100%;
		height: 100%;
		top: -5px;
		left: -5px;
	}
	article.play35 ul.play_wrap li.ch_list:hover div.ch_cont_list {
		top: -5px;
		left: -5px;
	}
	article.play35 ul.play_wrap li.ch_list:hover div.ch_cont_list span.ch_name {
		display: block;
		width: 75%;
		padding: 7px;
		border: 1px solid #333;
		text-align: center;
		color: #333;
		bottom: 50%;
		right: 12.5%;
	}
	article.play35 ul.play_wrap li.ch_list:hover div.ch_cont_list p.ch_img {
		opacity: .5;
	}
	li.ch_list div.ch_cont_list p.ch_img {
		width: 88%;
		height: 78%;
		top: 6%;
		left: 6%;
	}
	li.ch_list div.ch_cont_list span.ch_name {display: none;}

	article.goods, article.campain {
		width: 50%;
		height: 28em;
		box-sizing: border-box;
		float: left;
		margin-top: 100px;
	}
	section#sec06 article>p.goods_bg {
		background-color: #FBD147;
		height: 100%;
	}
	section#sec06 article.goods h2.main_tit,
	section#sec06 article.campain h2.main_tit {
		top: 20px;
		left: 20px;
		right: 20px;
		text-align: left;
		font-size: .9em;
	}
	article.goods div.badge_wrap a.shortcut {
		top: 4em;
		left: 1.5em;
	}
	article.goods div.badge_wrap img.pinbadge.camera01 {
		height: 8em;
		right: 4em;
		top: 6em;
	}
	article.goods div.badge_wrap img.pinbadge.camera02 {
		height: 7.5em;
		right: 1.1em;
		bottom: 2.7em;
	}
	article.goods div.badge_wrap img.pinbadge.film01 {
		height: 7.5em;
		right: 13.2em;
		bottom: 3em;
	}
	article.goods div.badge_wrap img.pinbadge.film02 {
		height: 7.6em;
		left: 2em;
		bottom: 12em;
	}
	section#sec06 article>p.campain_bg {
		height: 100%;
		background-color: #58BA4D;
	}
	section#sec06 article.campain div.campain_wrap a.shortcut {
		text-align: left;
		padding-right: 0;
		padding-left: 15px;
		background-image: url('../img/ar_right_bk.png');
		background-position: 95% center;
		position: absolute;
		right: 0;
		top: 4em;
		left: 1.5em;
	}
	section#sec06 article.campain div.campain_wrap a.shortcut:hover {
		background-image: url('../img/ar_right.png');
	}
	div.campain_wrap div.boxswrap {
		width: 100%;
		position: relative;
		left: 0;
		top: 8em;
		padding: 1em;
	}
	div.campain_wrap div.boxswrap img.box {
		width: 29%;
	}
	div.campain_wrap div.boxswrap img.box.rebox01 {
		text-align: left;
		margin-top: 9em;
	}
	div.campain_wrap div.boxswrap img.box.rebox02 {
		text-align: center;
		margin-top: 5em;
	}
	div.campain_wrap div.boxswrap img.box.rebox03 {
		text-align: right;
		margin-top: 1em;
	}
	div.campain_wrap div.boxswrap img.box.aft_blank {
		margin-right: 1em;
	}
	div.campain_wrap img.trees01 {
		width: 45%;
		position: absolute;
		left: 1em;
		bottom: 15em;
	}
	div.campain_wrap img.trees02 {
		width: 45%;
		position: absolute;
		right: 2em;
		bottom: 1em;
	}
	footer {
		width: 100%;
		margin-top: 8em;
	}
	footer article.company_info {
		display: block;
		height: 12em;
	}
	footer article.company_info div.ft_main {
		width: 100%;
		height: 5em;
		display: flex;
		flex-wrap: wrap;
	}
	article.company_info div.ft_main h2.ft_tit {
		width: 100%;
		height: 3.5em;
		line-height: 2em;
		position: static;
	}
	footer article.company_info div.ft_main div.ft_menu {
		width: 23%;
		height: 2.5em;
		position: static;
	}
	div.ft_main div.ft_menu ul.ft_menu_list {
		padding-top: 5px;
		width: 98.5%;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	div.ft_main div.ft_menu ul.ft_menu_list li a {
		font-size: .6em;
		line-height: 1.5;
		padding: .3em;
	}
	div.ft_main div.info_list {
		width: 77%;
		height: 2.5em;
		position: static;
	}
	div.ft_main div.info_list ul.comp_info {
		width: 97%;
		padding-left: 1.5%;
		display: flex;
		justify-content: space-between;
	}
	ul.comp_info li {
		font-size: .6em;
		line-height: 1.5;
		padding: .3em .3em 0 .3em;
	}
	ul.comp_info.flow_down li {
		padding: 0 .3em 0 .3em;
	}
	footer article.company_info div.ps_account {
		width: 31%;
		position: absolute;
		top: 0;
		right: 34%;
	}
	footer article.company_info div.help_desk {
		width: 34%;
		position: absolute;
		top: 0;
		right: 0;
	}
	footer article.company_info div.ps_account h3 {
		text-align: left;
		padding-left: 1.6em;
	}
	article.copyright {
		width: 100%;
	}
	footer article.company_info div.ft_main:after {
		display: none;
	}
	footer article.company_info div.ps_account:before {
		content: '';
		width: 1px;
		height: 110px;
		background-color: #333;
		position: absolute;
		left: 0;
		top: 10px;
	}
	footer article.company_info div.ps_account.aft_barline:after {
		content: '';
		width: 1px;
		height: 110px;
		background-color: #333;
		position: absolute;
		right: 0;
		top: 10px;
	}
	div.quick {display: none;}
}


/*반응형 모바일*/
@media screen and (max-width: 768px) {
	.inner_box {width: 100%;}
	.forTb {display: block;}
	.offTbnav {display: none;}

	header {
		height: 128px;
		position: static;
		background-color: rgba(10, 10, 10, 1);
	}
	header div.header_wrap {
		height: 120px;
	}
	header div.header_wrap h1.logo {
		width: 100%;		
		height: 140px;
		background-size: 5.8em;
		background-position: center;
		margin: 0;
		box-sizing: border-box;
	}
	header div.header_wrap h1.logo span {
		display: none;
	}
	header div.header_wrap div.user_menu {
		width: 100%;
		position: absolute;
		top: 27.5em;
		left: 0;
		padding-top: 0;
		display: block;
		z-index: 12;
		padding-left: 2em;
		box-sizing: border-box;
	}
	header div.header_wrap div.user_menu ul.user_joinus {
		position: static;
	    width: 30%;
	    height: 2em;
	    float: left;
	    padding-top: 0;
	    padding-left: 0;
	    box-sizing: border-box;
	}
	header div.header_wrap div.user_menu ul.user_joinus li.aft_bar:after {
		color: #333;
	}
	header div.header_wrap div.user_menu ul.user_joinus a {
		color: #333;
	}
	header div.header_wrap div.user_menu div.aside_set {
		width: 48%;
		height: 2em;
		float: right;
		padding: 0 0 0 0;
		padding-top: 0;
		text-align: right;
		margin-right: 1em;
	}
	header div.header_wrap div.user_menu div.aside_set ul.user_mypage {
		height: 50px;
		float: none;
		color: #333;
	}
	header div.header_wrap div.user_menu li a {
		color: #333;
	}
	header div.header_wrap div.user_srch {
		position: absolute;
		top: 128px;
		right: 0;
		z-index: 8;
		left: 0;
		width: 60%;
	}
	header div.header_wrap div.user_srch.mb_mode {
		position: fixed;
		top: .25em;
		left: 0;
		z-index: 8;
	}
	header div.header_wrap div.user_srch input#search {
		max-width: 92%;
		border: none;
	}

	.mb_nav_btn{
		display: block;
		position: absolute;
		top: 8.5em;
		right: 1.5em;
		z-index: 10;
	}
	.mb_nav_btn.mb_mode {
		position: fixed;
		top: .6em;
		right: 1.5em;
	}
	div.closepop {
		display: block;
		width: 24px;
		height: 24px;
		position: absolute;
		top: 20.5em;
		right: 25px;
		z-index: 12;
	}
	p.close {width: 100%;}
	p.close img {width: 100%;}
	div.closepop.offTbnav {
		display: none;
	}

	/*네비게이션*/
	header nav {
		height: 60px;
	}
	header nav.pc_nav.mb_mode {
		position: fixed;
		top: 0;
		left: 0;
		z-index: 7;
	}
	header nav.pc_nav ul.main_menu {display: none;}
	header nav.tb_nav {
		display: block;
		width: 100%;
		height: 16em;
		background-color: #8ed3c7;
		position: relative;
		top: -60px;
		right: 0;
		z-index: 7;
		box-sizing: border-box;
		padding-top: 1%;
	}
	nav.tb_nav ul.main_menu {
		width: 96%;
		height: 96%;
		background-color: #fff;
		box-sizing: border-box;
		display: block;
	}
	nav.tb_nav ul.main_menu>li {
		width: 50%;
		height: 3em;
		float: left;
		box-sizing: border-box;
		position: relative;
	}
	nav.tb_nav ul.main_menu>li>a{
		display: inline-block;
		text-align: left;
		width: 100%;
		height: 100%;
		padding-left: 1em;
		font-size: 14px;
		font-weight: bold;
		color: #333;
		line-height: 3em;
		border-bottom: 1px dashed #666;
	}
	
	nav.tb_nav ul.main_menu:before {
		content: '';
		display: block;
		width: 100%;
		height: 2.4em;
		border-bottom: 1px solid #666;
	}
	nav.tb_nav ul.main_menu li.menu_fir a,
	nav.tb_nav ul.main_menu>li:nth-child(2) a{
		width: 100%;
		/*border-top: 1px solid #666;*/
	}
	nav.tb_nav ul.main_menu li.menu_more a{
		float: none;
	}
	nav.tb_nav ul.main_menu li.menu_more ul.sub_depth2_wrap {
		display: none;
	}
	nav.tb_nav ul.main_menu li.menu_more:nth-child(5) a,
	nav.tb_nav ul.main_menu li.menu_more:nth-child(6) a {
		border-bottom: 1px solid #666;
	}
	nav.tb_nav ul.main_menu li.menu_more ul.sub_depth2_wrap li a {
		display: block;
		font-size: 14px;
		color: #333;
		line-height: 75px;
		margin-right: 17px;
	}
	nav.tb_nav ul.main_menu li.menu_more ul.sub_depth2_wrap li a:hover {
		text-decoration: underline;
	}
	nav.tb_nav.offTbnav {
		display: none;
	}

	/*메인이미지*/
	main section#mainImg {
		width: 100%;
		height: 20rem;
		min-height: 17rem;
		margin-top: 40px;
		/*background-color: pink;*/
	}
	main section#mainImg div.img_frm {
		width: 100%;
		height: 100%;
		overflow: hidden;
		position: absolute;
		top: 0;
		left: 0;
	}
	div.img_frm ul.img_list li img {
		width: 100%;
	}

	section#sec01,section#sec02,section#sec03,section#sec04 {
		margin-bottom: 3em;
	}
	section#sec05 {margin-bottom: 2em;}

	/*섹션별 라인 없애기*/
	div.title {
		padding-top: 3em;
		height: 8em;
	}
	div.title div.tit_left {
		width: 100%;
		height: 2em;
		text-align: center;
		padding-left: 0;
	}
	div.title div.tit_left p.sub_tit {
		font-size: 0.8em;
		padding: 7px 0;
	}
	div.title div.tit_left h2.main_tit {
		font-size: 1em;
		font-weight: bolder;
	}
	div.title div.tit_right {display: none;}

	section#sec01 div.title div.tit_left,
	section#sec02 div.title div.tit_left,
	section#sec03 div.title div.tit_left,
	section#sec04 div.title div.tit_left,
	section#sec05 div.title div.tit_left {width: 100%;}


	section#sec01 {height: 22em; padding-top: 1em;}
	section#sec01 div.content {
		display: flex;
		flex-flow: row;
		justify-content: center;
	}
	section#sec01 div.content article.sec01_already {
		width: 32%;
		height: 12em;
		margin-right: 2%;
	}
	section#sec01 div.content article.sec01_already:nth-child(3) {
		margin-right: 0;
	}
	section#sec01 div.content article.sec01_already p.circle_img {
		top: 20px;
		margin-top: 0;
		left: 50%;
		margin-left: -90px;
	}
	article.sec01_already p.circle_img img {
		height: 9em;
	}
	section#sec01 div.content article.sec01_already h3 {
		padding-top: 8.2em;
		text-align: center;
		font-size: 1em;
		padding-right: 0;
	}
	section#sec01 div.content article.sec01_already p {
		padding-top: 5px;
		padding-right: 0;
		font-size: .7em;
		color: #333;
		text-align: center;
	}
	section#sec01 div.content article.sec01_already span.move_to {
		display: none;
	}

	section#sec02 div.cmr_li ul.camera_list {
		width: 100%;
		height: 56em;
	}
	section#sec02 div.cmr_li ul.camera_list li {
		float: left;
		width: 49%;
		height: 15em;
		margin-left: 0;
	}
	section#sec02 div.cmr_li ul.camera_list li:nth-child(1) {
		width: 100%;
		height: 25em;
		margin-bottom: 1em;
	}
	section#sec02 div.cmr_li ul.camera_list li:nth-child(2),
	section#sec02 div.cmr_li ul.camera_list li:nth-child(4)	 {
		margin-right: 2%;
	}
	section#sec02 div.cmr_li ul.camera_list li a {
		width: 100%;
		height: 13em;
	}
	section#sec02 div.cmr_li ul.camera_list li a span {
		bottom: 4px;
	}


	section#sec03 div.list_frame {
		width: 100%;
		height: 28em;
		overflow: hidden;
	}
	section#sec03 div.list_frame div.film_list_bg {
		width: 600%;
		margin-top: 4.2em;
		height: 20em;
	}
	section#sec03 div.list_frame div.film_list_bg ul.film_list li {
		width: 16.6667%;
		height: 24em;
		float: none;
		position: absolute;
		top: -4em;
		left: 0;
		display: none;
	}
	section#sec03 div.list_frame div.film_list_bg ul.film_list li:nth-child(1) {
		display: block;
	}
	div.film_list_bg ul.film_list li a{
		display: block;
		text-align: center;
		position: static;
	}
	div.film_list_bg ul.film_list li a:hover span.film_name {
		display: block;
	}
	div.film_list_bg ul.film_list li a span.film_name {
		display: none;
		width: 70%;
		height: 3em;
		padding-top: .3em;
		font-size: 1.2em;
		color: #fff;
		border: 1px solid #fff;
		position: absolute;
		top: 10em;
		left: 15%;
		z-index: 10;
		overflow: visible;
		visibility: visible;
		text-indent: 0;
		line-height: 2.4em;
	}
	div.film_list_bg ul.film_list li a img {
		width: 90%;
	}
	div.more p.more_con{
		margin-right: 20px;
	}

	section#sec04 {display: none;}


	section#sec05 div.service_list {
		height: 24em;
	}
	section#sec05 div.service_list ul {
		display: flex;
		flex-flow: row;
		flex-wrap: wrap;
	}
	section#sec05 div.service_list ul li.serv_list {
		width: 50%;
		height: 12em;
	}
	section#sec05 div.service_list ul li.serv_list.aft_blank {
		margin-right: 0;
	}
	div.service_list ul li.serv_list div.serv_cont_wrap {
		position: static;
		width: 100%;
		height: 100%;
		border: none;
	}
	li.serv_list div.serv_cont_wrap p.serv_sub_tit {
		width: 100%;
		text-align: center;
		z-index: 10;
		top: 4em;
		left: 0;
	}
	li.serv_list div.serv_cont_wrap h4.serv_main_tit {
		width: 100%;
		text-align: center;
		font-size: 1.4em;
		color: #000;
		z-index: 10;
		top: 4.2em;
		left: 0;
	}
	li.serv_list div.serv_cont_wrap span.serv_img {
		width: 100%;
		height: 100%;
		opacity: .5;
	}
	li.serv_list div.serv_cont_wrap span.serv_img:hover {
		opacity: .8;
	}
	li.serv_list div.serv_cont_wrap span.shortcut {
		display: none;
	}


	section#sec06 {
		margin-top: 0;
	}
	section#sec06 article.play35 {
		display: none;
	}

	article.goods, article.campain {
		width: 100%;
		height: 22em;
		box-sizing: border-box;
		float: left;
		margin-top: 0;
	}
	section#sec06 article>p.goods_bg {
		background-color: #FBD147;
		height: 100%;
	}
	section#sec06 article.goods h2.main_tit,
	section#sec06 article.campain h2.main_tit {
		top: 20px;
		left: 20px;
		right: 20px;
		text-align: left;
		font-size: 1em;
	}
	section#sec06 article>div a.shortcut {
		display: none;
	}
	article.goods div.badge_wrap img.pinbadge.camera01 {
		height: 7em;
		right: 7.3em;
		top: 3.8em;
	}
	article.goods div.badge_wrap img.pinbadge.camera02 {
		height: 7em;
		right: 1.1em;
		bottom: 1.5em;
	}
	article.goods div.badge_wrap img.pinbadge.film01 {
		height: 7em;
		right: 0;
		bottom: 2.5em;
		left: 8em;
	}
	article.goods div.badge_wrap img.pinbadge.film02 {
		height: 7em;
		left: 2em;
		bottom: 8em;
	}

	section#sec06 article>p.campain_bg {
		height: 100%;
		background-color: #58BA4D;
	}
	div.campain_wrap div.boxswrap {
		width: 100%;
		position: relative;
		left: 0;
		top: 1em;
		padding: 1em;
		text-align: center;
	}
	div.campain_wrap div.boxswrap img.box {
		width: 7.2rem;
	}
	div.campain_wrap div.boxswrap img.box.rebox01 {
		text-align: left;
		margin-top: 9em;
	}
	div.campain_wrap div.boxswrap img.box.rebox02 {
		text-align: center;
		margin-top: 5.3em;
	}
	div.campain_wrap div.boxswrap img.box.rebox03 {
		text-align: right;
		margin-top: 1.5em;
	}
	div.campain_wrap div.boxswrap img.box.aft_blank {
		margin-right: 1em;
	}
	div.campain_wrap img.trees01 {
		width: 10em;
		position: absolute;
		left: 1em;
		bottom: 14em;
	}
	div.campain_wrap img.trees02 {
		width: 12em;
		position: absolute;
		right: 2em;
		bottom: 1em;
	}

	footer {
		width: 100%;
		margin-top: 4em;
	}
	footer article.company_info {
		display: block;
		height: 21.5em;
	}
	footer article.company_info div.ft_main {
		width: 100%;
		height: 12em;
		display: flex;
		flex-wrap: wrap;
	}
	article.company_info div.ft_main h2.ft_tit {
		width: 100%;
		height: 3em;
		line-height: 2em;
		position: static;
		text-align: center;
		margin-bottom: 3em;
	}
	footer article.company_info div.ft_main div.ft_menu {
		width: 100%;
		height: 2em;
		position: static;
	}
	div.ft_main div.ft_menu ul.ft_menu_list {
		padding-top: 5px;
		width: 96%;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		margin: 0 auto;
	}
	div.ft_main div.ft_menu ul.ft_menu_list li a {
		font-size: .6em;
		line-height: 1.5;
		padding: .3em;
	}
	div.ft_main div.info_list {
		width: 100%;
		height: 2.5em;
		position: static;
	}
	div.ft_main div.info_list ul.comp_info {
		width: 96%;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		margin: 0 auto;
	}
	ul.comp_info li {
		font-size: .4em;
		line-height: 1.5;
		padding: .3em .3em 0 .3em;
	}
	ul.comp_info.flow_down li {
		padding: 0 .3em 0 .3em;
	}

	footer article.company_info div.ps_account {
		width: 50%;
		position: absolute;
		top: 5em;
		right: 0;
		left: 0;
	}
	div.ps_account p.account {
		padding-left: 1em;
		font-size: 1em;
	}
	div.ps_account p.acc_name {
		font-size: .7em;
		padding-left: 1.5em;
	}
	footer article.company_info div.help_desk {
		width: 50%;
		position: absolute;
		top: 5em;
		right: 0;
	}
	div.help_desk p.help_num {
		font-size: 1.8em;
	}
	div.help_desk p.help_time {
		font-size: .7em;
		padding-top: .5em;
		color: #444;
	}
	footer article.company_info div.ps_account h3 {
		text-align: left;
		padding-left: 1.6em;
	}
	article.copyright {
		width: 100%;
	}
	footer article.company_info div.ft_main:after {
		display: none;
	}
	footer article.company_info div.ps_account.aft_barline:after {
		content: '';
		width: 1px;
		height: 110px;
		background-color: #333;
		position: absolute;
		right: 0;
		top: 10px;
	}

	div.quick {
		width: 100%;
		height: 50px;
		right: 0;
		top: 92%;
		bottom: 0;
		z-index: 10;
	}
	div.quick ul.quick_menu {
		width: 100%;
		height: 100%;
		display: flex;
		flex-wrap: wrap;
		border-top: 1px solid #ddd;
	}
	div.quick ul.quick_menu li {
		width: 25%;
		height: 100%;
		font-size: 0.8em;
		position: relative;
		border: none;
		border-right: 1px solid #ddd;
	}
	div.quick ul.quick_menu li.qu_flex_100,
	div.quick ul.quick_menu li.qu_flex_50 {
		width: 25%;
		padding-right: 1em;
	}
	div.quick ul.quick_menu li.qu_flex_50.aft_blank {
		margin-right: 0;
	}
	div.quick ul.quick_menu li:nth-child(6) {
		border-right: none;
	}
	div.quick ul.quick_menu li.bt_blnk {
		margin-right: 0;
	}
	div.quick ul.quick_menu li:nth-child(2),
	div.quick ul.quick_menu li:nth-child(3),
	div.quick ul.quick_menu li:nth-child(7) {
		display: none;
	}
	div.quick ul.quick_menu li.qu_flex_100 img,
	div.quick ul.quick_menu li.qu_flex_50 img {
		display: none;
	}
	div.quick ul.quick_menu li.qu_flex_100 a,
	div.quick ul.quick_menu li.qu_flex_50 a {
		display: block;
		width: 100%;
		height: 100%;
		line-height: 3.2em;
		text-align: center;
		position: static;
	}
}